@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #ffffff;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;

}

body::-webkit-scrollbar-thumb {
  background: #853232;
  border-radius: 540px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #782b2b;

}

a {
  color: inherit;
  text-decoration: none;
}

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #000;
}





.nav {
  height: 60px;
  width: 100%;
  /* background-color: #0b0b0b; */
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;

}

.nav-logo p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.nav-logo:hover {
  color: #ff1616 !important;
}

.nav-logo img {
  height: 30px;
  width: 30px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.2s;
}

.nav-links a:hover {
  color: #ff1616;
}

.nav-ham {
  display: none;
}

.landing {
  height: 100vh;
  width: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landing-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 20px;
  animation: fadeSlide 1s ease-in-out;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-text h1 {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.lt-line {
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
}

.landing-text p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.lt-btns {
  display: flex;
  gap: 20px;
}

.lt-btns button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #fff200;
  font-size: 1.2rem;
  background-color: #000;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border: 1px solid transparent;
}

.lt-btns button:hover {
  background-color: #dbd0d000;
  border: 1px solid #fff200;
}

.lt-btns button:nth-child(2) {
  background-color: #ff161600;
  border: 1px solid #fff200;
}

.lt-btns button:nth-child(2):hover {
  background-color: #fff200;
  border: 1px solid #fff200;
  color: rgb(0, 0, 0);
}

.Service {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #0b0b0b;
  color: #fff;
  text-align: center;
  min-height: 100vh;
  padding-bottom: 40px;
  border-bottom: 1px solid #ffffff56;
}

.s-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.s-text h2 {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #3e8fff;
}

.s-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.s-text p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.s-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 60px;
}

.s-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #802626;
  height: 380px;
  width: 280px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.s-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 #fff;
}

.s-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.s-text h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.s-text p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.s-card button {
  padding: 10px 20px;
  width: 70%;
  border: none;
  border-radius: 10px;
  color: #fff200;
  font-size: 1.2rem;
  background-color: #000;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  border: 1px solid transparent;
  margin-top: 20px;
}

.s-card button:hover {
  background-color: #dbd0d000;
  border: 1px solid #fff200;
}

.s-img img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.t-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.t-img h1 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.t-img img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.t-text p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.about {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0b0b;
}

.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: #fff;
  padding: 0 60px;
  min-height: 80vh;
  width: 80%;
  border-radius: 10px;
  background-color: #232323;
  box-shadow: 0 0 10px 0 #1a1a1a;

}

.about-card h2 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #3e8fff;
}

.about-card p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact span {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #f96464;
}

.contact h3 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.info {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.map img {
  height: 300px;
  object-fit: contain;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
  background-color: #000;
  color: white;
}

.footer-card {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 30px;
}

.footer-logo img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-logo p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.footer-links h3 {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-card h3 {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.footer-contact p {
  font-size: 01rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.footer-contact p span {
  color: #ff5353;
}

.footerAllright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.dad {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.dad a {
  color: #4952ff;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.features {
  min-height: 100vh;
}

.contactpage {
  min-height: 100vh;
}

.nav-mobile {
  display: none;
}

.lt-title {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: #fff;
  height: auto !important;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 90vh;
  border-radius: 10px;
  background-color: #232323;
  box-shadow: 0 0 10px 0 #1a1a1a;
}

.login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: #2f2f2f;
  padding: 10px;
}

.form-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-input input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #202020;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  border: 1px solid transparent;

}

.form-input input:focus {
  border: 1px solid #4952ff;
}

.login button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #202020;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.login button:hover {
  background-color: #4952ff;
  color: #fff;
}

.alertx {
  position: fixed;
  bottom: 10px;
  left: 5px;
  background-color: #4952ffbf;
  font-family: 'roboto', sans-serif;
  font-weight: 600;
  padding: 10px;
}

.contactPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  gap: 30px;
  border-radius: 10px;
  padding: 20px;
  background-color: #232323;
  box-shadow: 0 0 10px 0 #1a1a1a;
}

.con-wrap {
  display: flex;
}

.orderForm {
  animation: slideup 1s ease-in-out;
}

@keyframes slideup {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }

}

.contact-subject {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

.contact-input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.contact-input input,
.contact-input textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #202020;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  border: 1px solid transparent;
  resize: none;
}

.contact-input input:focus,
.contact-input textarea:focus {
  border: 1px solid #4952ff;
}

.contact-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 50%;
}

.contact-submit button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1e5c34;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.contact-submit button:hover {
  background-color: #2c7044;
  color: #fff;
}

.contact-submit button:nth-child(2) {
  background-color: #6f2e16;
  color: #fff;
}

.contact-submit button:nth-child(2):hover {
  background-color: #8f3e1f;
  color: #fff;
}


.contact-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  gap: 15px;
}

.contact-about h2 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.contact-about h3 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.contact-about p {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ca-heads {
  padding-bottom: 20px;
}

.ca-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.ca-socials svg {
  color: #fff;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-color: #2d268b;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
}

.ca-socials svg:hover {
  background-color: #4952ff;
}

.admin {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ad-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #1a1a1a;
}

.ad-messa {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 100%;
  background-color: #252020;
  border-radius: 10px;
}

.ad-messa-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.adm-sa {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.adm-sa h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.adm-sa h3::first-letter {
  text-transform: uppercase;
}

.ad-messa p {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.ad-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.addelete {
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  position: fixed;
  bottom: 0;
  width: 50%;
  animation: slideLEft 0.5s ease-in-out;
}

@keyframes slideLEft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }

}

.ad-alert-img {
  width: 300px;
  object-fit: contain;
}

.conImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#showAlert {
  display: none;
}

.Projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
}


.p-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #1a1a1a;
}

.p-img-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-card img {
  max-width: 300px;
  max-height: 200px;
}

.p-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
  word-break: break-all;
}

.client {
  color: #ffffffaa;
}

.projHead {
  font-size: 50px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
}

.adm-logout {
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  gap: 10px;
  background-color: #2d268b;
}


.adm-info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: #252020;
  border-radius: 10px;
}

.orderCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width:660px) {
  .nav-links {
    display: none;
  }

  .nav-ham {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .landing-text {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .map img {
    height: 240px;
  }

  .contact p {
    font-size: 1rem;
  }

  .contact p span {
    font-size: 1rem;
  }

  .about-card {
    padding: 0 20px;
    padding-top: 60px;
    padding-bottom: 20px;
    width: 90%;
  }

  .info {
    flex-direction: column;
  }

  .footer-card {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
  }

  .footerAllright {
    display: inline;
  }

  .s-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .s-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;

  }


  .s-card {
    width: 100%;
  }

  .t-img {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .nav {
    position: relative;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    top: 0;
    height: 100vh;
    background-color: #0000007e;
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
  }

  .nav-mob-mens {
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 20px;
    background-color: #000;
    height: 100%;
    width: 70%;
    transition: ease-in-out 0.2s;
    animation: slideLeft 0.5s ease-in-out;
  }

  @keyframes slideLeft {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0%);
    }

  }

  .nav-mob-mens a {
    color: #fff;
    font-size: 30px;
    background-color: #34343479;
    /* padding-left: 20px; */
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-family: 'roboto', sans-serif;
    border-radius: 20px;

  }

  .nav-mobile p {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgb(186, 57, 57);
    padding: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactPage {
    flex-direction: column;
  }

  .contact-form,
  .contact-about {
    width: 100%;
  }

  .contact-about h2 {
    font-size: 2rem;
  }

  .contact-about h3 {
    font-size: 1.5rem;
  }

  .ad-card {
    padding: 10px;
  }

  .adm-sa h3 {
    font-size: 1.2rem;
  }

  .adm-sa {
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
  }

  .p-card {
    width: 100%;
  }

  .p-card h3 {
    /* break the text */
    word-break: break-all;
    text-align: left;
  }
}